@keyframes efeito-tecnologia {
    0%   {
        transform: scale(1) translate(-50%,-50%);
    }
    50%  {
        transform: scale(0.9) translate(-50%,-50%);
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); /* Sombra que segue o contorno */;
    }
    100% {
        transform: scale(1) translate(-50%,-50%);
    }
  }
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
span,h2,h3,h1,div{
    transition: .3s;
}
a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}
.play-font{
    font-family: "Play", sans-serif;
}
.darkmode{
    color: white !important;
    background-color: rgb(61, 61, 61) !important;
    background: none;
}
header{
    position: fixed;
    width: 100%;
    left: 0;
    height: 60px;
    background-color: inherit;
    z-index: 99;
}
nav{
    display: none;
}
#body{
    background-color: lightgray;
    background-repeat: no-repeat;
    font-family: 'Poppins',sans-serif;
    color: black;

}
.btn-fechar-container{
    height: 40px;
    background-color: #8F45DE;
    width: 100%;
    display: flex;
    padding-left: 10px;
    justify-content: left;
    align-items: center;
}
.btn-fechar-container div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-fechar{
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: currentColor;
    transition: .3s ease-in-out;
}
#sidebar.mostrar{
    left: 0;
}
#sidebar{
    display: block;
    z-index: 9999;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: inherit;
    width: 100%;
    transition: .5s;
}
#sidebar ul{
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #8F45DE;
    margin-bottom: 20px;
}
#sidebar ul li{
    list-style-type: none;
    padding: 10px 30px;
}
#sidebar ul li a{
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 26px;
    color: currentColor;
}
#sidebar-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 10%;
    border: 1px solid rgb(117, 117, 117);
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#sidebar-btn>svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: rgb(116, 116, 116);
    height: 30px;
}
#sidebar h3{
    padding-left: 30px;
    font-size: 26px;
    margin-bottom: 10px;
}
.darkmodeon{
    background-color: white !important;
}

.input-modo-claro-escuro{
    cursor: pointer;
    margin-left: 30px;
    height: 30px;
    width: 80px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}
.input-modo-claro-escuro.darkmodeon #bolinha{
    background-color: black;
    left: 100%;
    transform: translate(-100%,0);
}
#bolinha{
    position: absolute;
    left: 0;
    background-color: white;
    width: 30px;
    border-radius: 30px;
    height: 30px;
    transition:  .5s ease-in-out;
}
#home *{
    color: #8F45DE;
    font-weight: 400;
    line-height: 40px;
}
#home{
    background-image: url(images/LucasFoto.jpg) !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 30px;
    position: relative;
}
#home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
#home h1,h2,h3{
    z-index: 9;
}
#home h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
}
#home span{
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
}
#home h2{
    font-size: 2.5em;
}
#home h3{
    font-size: 1.2em;
}
section h2{
    font-size: 2em;
    color: #89ADD7;    
    text-shadow: .5px .5px 1px #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}
#projects{
    background-image: linear-gradient(180deg, rgba(55,42,122,1) 0%, rgba(83,64,186,1) 29%, rgba(101,77,224,1) 90%, rgba(92,70,205,1) 100%);
}
body:has(.darkmode) section {
    background: none !important;
    background-color: inherit !important;
    color: currentColor !important;
}
body:has(.darkmode) div.container-informacoes{
    background-color: rgb(27, 27, 27) !important;
}
section{
    padding-top: 40px;
    padding-bottom: 1px;
}
.container-projeto{
    width: 90%;
    background-color: white;
    overflow: hidden;
    border-radius: 13px;
    display: flex;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;
}
.container-projeto .foto{
    width: 120px;
    object-fit: cover;
}
.container-projeto .container-informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 15px 30px;
    background-color: inherit;
}
.container-projeto .descricao{
    text-align: justify;
    font-size: .9em;
    color: currentColor;
}
.container-projeto:hover .container-informacoes .nome::after{
   width: 100%;
   cursor: pointer;
}
.container-projeto .container-informacoes .nome::after{
    content: "";
    width: 0;
    bottom: 5px;
    border-bottom: 1px solid #8F45DE;
    position: absolute;
    height: 20px;
    left: 50%;
    transform: translate(-50%,0);
    transition: width .5s;
}
.container-informacoes .nome{
    width: fit-content;
    position: relative;
    color: #8F45DE;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#coming-soon{
    display: none;
}

#technologies{
    background: rgb(92,70,205);
background: linear-gradient(180deg, rgba(92,70,205,1) 0%, rgba(101,77,224,1) 29%, rgba(83,64,186,1) 58%, rgba(55,42,122,1) 100%);
}

.elemento-animado {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: opacity .5s, top .5s;
}
.elemento-animado.visible {
  top: 0;
  opacity: 1;
}
#container-tecnologias{
  display: flex;
  flex-wrap: wrap;
}
.tecnologia{
  flex-grow: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.tecnologia
 .tecnologia-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 70%;
  transform-origin: 0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)); /* Sombra que segue o contorno */
  transform: translate(-50%,-50%);
  transition: 1s ease-in-out;
  
 }
 .tecnologia
 .img-container{
        cursor: pointer;
      position: relative;
      aspect-ratio: 1/1;
      width: 120px;
      margin-bottom: 30px;
 }
 .tecnologia
 .img-container::after{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-image: linear-gradient(225deg, rgba(137,173,215,1) 0%, rgba(143,69,222,1) 100%);
  border-image-slice: 1;
  padding: 20px;
  transition: ease-in-out .5s;
  transform-origin: center;
 }
 .tecnologia
 .img-container:hover img{
    animation-name: efeito-tecnologia;
    animation-duration: 1.7s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }
 .tecnologia
 .img-container:hover::after{
  transform: rotate(45deg) ;
 }
 .tecnologia
 span{
      position: relative;
      font-family: 'Play',sans-serif;
      font-weight: bold;
      color: white;
      font-size: 24px;
 }
 .tecnologia
 .span-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 40px;
 }
 .tecnologia
 .span-container::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 30%;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-image: linear-gradient(225deg, rgba(137,173,215,1) 0%, rgba(143,69,222,1) 100%);
      border-image-slice: 1;
      transition: ease-in-out .5s;
 }
 .tecnologia
 .span-container::before{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30%;
      height: 30%;
      border-right: 1px solid transparent;    
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(225deg, rgba(137,173,215,1) 0%, rgba(143,69,222,1) 100%);
      border-image-slice: 1;
      transition: ease-in-out .5s;
 }
 .tecnologia
 .span-container:hover{
  cursor: pointer;
 }
 .tecnologia:has(.span-container:hover) .img-container::after{
      rotate: 45deg;
 }
 .tecnologia:has(.span-container:hover) .img-container img{
    animation-name: efeito-tecnologia;
    animation-duration: 1.7s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

 .img-container:hover ~ .span-container::after{
  width: 98.7%;
  height: 95%;
 }
 .img-container:hover ~ .span-container::before{
  width: 98.7%;
  height: 95%;
 }
 .tecnologia
 .span-container:hover::after, .span-container:hover::before{
  width: 98.7%;
  height: 95%;
 }
 #about{
    background: rgb(55,42,122);
background: linear-gradient(180deg, rgba(55,42,122,1) 0%, rgba(78,63,128,1) 100%);
display: grid;
grid-template-columns: 1fr 3fr;
grid-auto-columns: 50px 2fr 1fr;
}
#about h2{
    grid-column: 1/3;
}
#img-pc-size{
    display: none;
}
#texto-sobre{
    padding: 0 40px;
    grid-column: 1/3;
    margin-bottom: 20px;
}
#texto-sobre h3{
    font-size: 2em;
    color: #8F45DE;    
    text-shadow: .5px .5px 1px #000000;
    text-align: center;
    margin-bottom: 30px;
}
#texto-sobre p{
    text-align: justify;
    color: white;
}
#img-mobile-size{
    float: left;
    width: 30%;
    aspect-ratio: 1/1;
    filter: grayscale(0.6);
    object-fit: cover;
    margin-right: 20px;
    border-radius: 18px;
}
.carrossel-placeholder{
    /* TODO: Criar o Carrossel */
    display: none;
    object-fit: cover;
    grid-column: 1/3;
    height: 200px;
    width: 100%;
}
#contact{
    background: rgb(78,63,128);
    background: linear-gradient(180deg, rgba(78,63,128,1) 0%, rgba(71,42,122,1) 85%, rgba(0,0,0,1) 100%);
}
form {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-bottom: 50px;
}
#email-div{
    grid-column: 1/3;
}
#assunto-div{
    grid-column: 1/3;
}
#recado-div{
    grid-column: 1/3;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

input, textarea {
    width: 100%;
    outline: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 14px;
    resize: none;
}

button {
    grid-column: 1/3;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 0 20px 0 20px;
    
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 20px;
}

.footer-div {
    margin-bottom: 20px;
    width: 80%;
}

.footer-div h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-div p, .footer-div a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
}

.links-div a {
    display: block;
    margin-bottom: 5px;
}

button:hover {
    background-color: #45a049;
}
@media (min-width: 600px) {
    .formdiv-responsiva{
        grid-column: auto !important;
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
    }
    .footer-div {
        margin-bottom: 0;
        width: 30%;
    }
}
@media (min-width: 1024px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav div{
        width: 250px;
    }
    nav ul{
        margin-right: 20px;
        width: 100%;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
    }
    nav h3{
        font-size: 14px;
    }
    nav ul li:hover{
        color: #8F45DE;
    }
    #sidebar-btn{
        display: none;
    }
    #coming-soon{
        display: flex;
        background: url(images/comingsoon.jpg);
        background-color: white;
        background-position: 0 -40px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #projetos-flexbox{
        display: flex;
    }
    #projetos-flexbox{
        overflow: hidden;
        margin: auto;
        width: 80%;
        max-width: 1024px;
        height: 400px;
    }
    .container-projeto{
        width: 0;
        height: 400px;
        margin: 2px;
        flex-grow: 1;
        transition: .5s ease-in-out;
    }
    .container-informacoes{
        background-color: white !important;
        padding: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        height: fit-content;
        flex-grow: 0 !important;
        transition: .5s ease-in-out;
    }
    .container-projeto .nome{
        writing-mode: vertical-rl;
        text-align: center;
    }
    /* Projetos */
    #projeto-sitedelivery{
        background: url(images/foto-projeto-sitedelivery.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hexagon{
        /* TODO: arrumar o hexágono */
        justify-self: end;
        width: 200px;
        height: 200px;
        clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
        overflow: hidden;
    }
    .hexagon img {
        width: 100%;
        height: 100%;
    }
    #texto-sobre{
        grid-column: 2;
        width: 70%;
    }
    #projeto-oganitemplate{
        background: url(images/foto-projeto-oganitemplate.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #projeto-elitphoto{
        background: url(images/foto-projeto-elitphoto.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #projeto-tabelaperiodica{
        background: url(images/foto-projeto-tabelaperiodica.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #projeto-horariodeaula{
        background: url(images/foto-projeto-horariodeaula.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container-projeto .nome::after{
        display: none;
    }
    .container-projeto .descricao{
        display: none;
    }
    .container-projeto:hover{
        flex-grow: 7;
        
    }
    .container-projeto:hover .container-informacoes{
        padding: 20px !important;
        width: 100%;
        height: fit-content;
    }
    .container-projeto:hover .nome{
        writing-mode: horizontal-tb;
    }
    .container-projeto:hover .descricao{
        display: block;
    }
    .container-projeto img{
        display: none;
    }
    .input-modo-claro-escuro{
        height: 20px;
        width: 60px;
    }
    #bolinha{
        width: 20px;
        height: 20px;
    }
    .hex-img{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}
.hex-img img{
  max-height:100%;
}
.hex-hide{
  width:100%;
  height:100%;
  position:absolute;
  top:0;left:0;
}
header{
    position: sticky;
    top: 0;
    height: 50px;
}
.hex-hide:before{
  content:"";
  position:absolute;
  width:0;height:0;
  border:80px solid transparent;
  border-bottom:0px solid #fff;
  border-left:145px solid #fff;
  bottom:0;
  left:0;
  z-index:9999;
}
.hex-hide:after{
  content:"";
  position:absolute;
  width:0;height:0;
  border:80px solid transparent;
  border-bottom:0px solid #fff;
  border-right:145px solid #fff;
  bottom:0;
  right:0;
  z-index:9999;
}
.carrossel-placeholder{
    height: 240px;
}
  #img-pc-size{
    display: block;
    filter: grayscale(0.6);
  }
  #img-mobile-size{

    display: none !important;
  }
}
